version: "3.9"

services:
  wallet-service:
    build: .
    container_name: wallet-service
    ports:
      - "${WALLET_SERVICE_PORT:-8080}:${WALLET_SERVICE_PORT:-8080}"
    environment:
      SERVER_PORT: ${WALLET_SERVICE_PORT:-8080}
      POSTGRES_HOST_NAME: ${POSTGRES_HOST_NAME:-postgres}
      POSTGRES_PORT: ${POSTGRES_PORT:-5432}
      POSTGRES_DATABASE: ${POSTGRES_DATABASE:-wallet}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-1234}
      MAXIMUM_POOL_SIZE: ${MAXIMUM_POOL_SIZE:-20}
      CONNECTION_TIMEOUT: ${CONNECTION_TIMEOUT:-60000}
      MAX_LIFETIME: ${MAX_LIFETIME:-60000}
      IDLE_TIMEOUT: ${IDLE_TIMEOUT:-45000}
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:15
    container_name: wallet-db
    environment:
      POSTGRES_DB: ${POSTGRES_DATABASE:-wallet}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-1234}
    ports:
      - "${POSTGRES_PORT:-5433}:5432"
    volumes:
      - wallet-db-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  wallet-db-data:
